# ignore svg, txt, json, html, bib, doc, docx, xls, xlsx, ppt, pptx, pdf, jpg, png, gif, tif, tiff, eps, ps, bmp
exclude: '^.*\.(svg|txt|json|html|sty|bst|cls|bib|doc|docx|xls|xlsx|ppt|pptx|pdf|jpg|png|gif|tif|tiff|eps|ps|bmp)$'
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        args: [--line-length=128, --extend-exclude=.ipynb, --verbose]
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies: [pycodestyle>=2.11.0]
        args: [--max-line-length=128, '--exclude=./.*,build,dist', '--ignore=E501,W503,E231', --count, --statistics, --show-source]
